
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sketchPad{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    outline: 2px solid black;
}