body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 5px double black;
    padding: 2rem;
}

.sketchPad {
    display: flex;
    flex-wrap: wrap;
    width: 479.5px;
    height: 479.5px;
    outline: 2px solid #212121;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.childDivColor {
    background-color: black;
}